<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
	<link rel="stylesheet" href="/css/style.css">
	<!-- <link rel="stylesheet" href="../public/css/style.css"> -->
	<title>myApp</title>
</head>
<body>
	<h1 class="title">東大の教科書</h1>
	<div class="item">
	<h2>代数学 1 群と環 [書籍]</h2>
	<img class="itemimg" src="https://m.media-amazon.com/images/I/41ACMWBG4PL._SX330_BO1,204,203,200_.jpg">
	<p>代数学の教科書</p>
	</div>
	<div class="item">
	<h2>多様体の基礎</h2>
	<img class="itemimg" src="https://m.media-amazon.com/images/I/51QNHBE9ADL.jpg" alt="">
	<p>幾何学の教科書</p>
	</div>
	<div class="item">
	<h2>ルベーグ積分入門</h2>
	<img class="itemimg" src="https://m.media-amazon.com/images/I/41MlA+HqaWL.jpg" alt="">
	<p>解析学の教科書</p>
	</div>
	<!-- <h2 class="itemname"></h2>
	<img class="itemimg" src="" alt="">
	<p></p>
	<h2 class="itemname"></h2>
	<img class="itemimg" src="" alt="">
	<p></p>
	<h2 class="itemname"></h2>
	<img class="itemimg" src="" alt="">
	<p></p> -->

	<a href="/index">回答はこちら</a>
</body>
</html>